/* global styling */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: pink;
}

h1 {
    text-align: center;
}

h3 {
    margin: 5px 0;
}

.container {
    width: 550px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.form-section {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

input {
    width: 150px;
    height: 30px;
}